<section style="text-align: center;vertical-align: middle;max-width: 900px;margin:auto">
    <p>
        <img itemprop="image" src="/assets/images/tudelft.png" style="max-width:200px;display: inline;margin: 20px;" alt="TU Delft">
        <img itemprop="image" src="/assets/images/IoT_RPL_Logo_Positive.png" style="max-width:200px;display: inline;" alt="IoT Rapid-Proto Labs">
        <img itemprop="image" src="/assets/images/logosbeneficaireserasmusright_en.jpg" style="max-width:200px;display: inline;" alt="Erasmus +">
    </p>
    <p><i>The European Commission's support for the production of this publication does not constitute an endorsement of the contents, which reflect the views only of the authors, and the Commission cannot be held responsible for any use which may be made of the information contained therein. <i></p>
</section>
