<section style="text-align: center;vertical-align: middle;max-width: 900px;margin:auto">
    <p>
        <a href="https://www.tudelft.nl/en/ide/about-ide/departments/sustainable-design-engineering/knowledge-and-intelligence-design" target="_blank">
            <img itemprop="image" src="{{site.baseurl}}/assets/images/tudelft-logo.png" style="max-width:200px;display: inline;margin: 20px;" alt="TU Delft - IDE - KInD">
        </a>
        <a href="https://delftdesignlabs.org/dcd-lab/" target="_blank">
            <img itemprop="image" src="{{site.baseurl}}/assets/images/dcd-lab.png" style="max-width:100px;display: inline;margin: 20px;" alt="DCD Lab">
        </a>
    </p>
</section>

